body{
	max-width:1240px;
	max-height:720px;
	margin: auto;
	background:transparent !important
}

.jumbotron {
	border-style:solid;
	border-width:50px;
	border-radius: 50px;
	color:#000;
	background-color:#ccf2ff;
	display:none;
}